<h2 id="polite-verbs">Polite Verbs</h2>
<table>
  <thead>
    <tr>
      <th>Tense name</th>
      <th>Form</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Present/Future</td>
      <td><code>～い</code>＋ます</td>
    </tr>
    <tr>
      <td>Past</td>
      <td><code>～い</code>＋ました</td>
    </tr>
    <tr>
      <td>
        <span>
          Progressive
        </span>
        <a href="https://guidetojapanese.org/learn/complete/progressive_tense" target="_blank"
          rel="noopener noreferrer"><small>Tae Kim 🔗</small></a>
      </td>
      <td><code>~て</code>＋います</td>
    </tr>
    <tr>
      <td>
        <span>
          Negative present/future
        </span>
        <a href="https://guidetojapanese.org/learn/complete/polite_negative" target="_blank"
          rel="noopener noreferrer"><small>Tae Kim 🔗</small></a>
      </td>
      <td><code>～い</code>＋ません</td>
    </tr>
    <tr>
      <td>Negative past</td>
      <td><code>～い</code>＋ませんでした</td>
    </tr>
    <tr>
      <td>
        <span>
          Command
        </span>
        <a href="https://guidetojapanese.org/learn/complete/command" target="_blank"
          rel="noopener noreferrer"><small>Tae Kim 🔗</small></a>
      </td>
      <td>
        <code>～て</code>＋ください<br>
        <code>～い</code>＋なさい ⬇️
      </td>
    </tr>
    <tr>
      <td>Negative command</td>
      <td><code>～あ</code>＋ないでください</td>
    </tr>
    <tr>
      <td>Potential <small>can/able to</small></td>
      <td>
        Godan <code>～う</code>＋ます<br>
        Ichidan <code>～る</code>＋られます<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → できます</div>
          <div>くる → こられます</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Want to</td>
      <td><code>～い</code>＋たいです</td>
    </tr>
    <tr>
      <td>Don't want to 1️⃣</td>
      <td><code>～い</code>＋たくないです</td>
    </tr>
    <tr>
      <td>
        Let's do<br>
        Shall we...
      </td>
      <td>
        <code>～い</code>＋ましょう<br>
        <code>～い</code>＋ましょう
      </td>
    </tr>
    <tr>
      <td>Passive <small>to be ~ed</small></td>
      <td>
        Godan <code>～あ</code>＋れます<br>
        Ichidan <code>～あ</code>＋られます<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → されます、</div>
          <div>くる → こられます</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Causative <small>to allow, force someone to ~</small></td>
      <td>
        Godan <code>～あ</code>＋せます<br>
        Ichidan <code>～あ</code>＋させます<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → させます、</div>
          <div>くる → こさせます</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="checkbox__wrapper">
  <input type="checkbox" name="polite-examples" checked disabled />
  <label for="polite-examples">Show examples</label>
</div>