<h2>Kanji 漢字</h2>
<h3 id="kanji-anki-deck">My Anki deck 💾</h3>
<p>At the moment, I am utilizing the Basic Kanji Book (Vol. 1) to initiate with the most basic ones. After
  finishing a lesson, I will add all the vocabulary found there. From time to time, this page will receive a
  new updated version.</p>
The .apkg file is hosted in the same repository as this site, you can <a href="./assets/basic-kanji-book-vol1.apkg"
  download>download it from here</a>.
<p class="centered__text">
  <small>The process of creating this site involved listening to a lot of silly playlists and Persona
    soundtracks.
    <a href="https://x.com/hamboorglar" target="_blank" rel="noopener noreferrer">Jordi</a>
  </small>
</p>