:root {
    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-extra-large: 32px;
    --spacing-2-extra-large: 48px;

    /* Other values */
    --icon-size: 32px;
    --border-radius: 4px;

    /* Theme by default, but it's randomly applied on load */
    --toc-link-color: #4183c4;
    --theme-color-1: #95D2B3;
    --theme-color-2: #D8EFD3;
    --theme-color-3: #55AD9B;
    --theme-color-4: #F1F8E8;
    --font-color: #000;
    --contrast-font-color: #000;
}

body {
    text-rendering: optimizeLegibility;
    font-family: Open Sans, sans-serif;
    line-height: 1.5rem;

    /* Theme */
    color: var(--font-color);
    background: var(--theme-color-4);
}

body, html {
    height: 100%;
}

a {
    color: var(--toc-link-color);
    text-decoration: none;
}

code {
    font-family: Open Sans,sans-serif;
    text-wrap: nowrap;
    color: var(--contrast-font-color);
    background: var(--theme-color-1);
    border-radius: 4px;
    padding: 4px;
}

table {
    position: relative;
    width: 100%;
    margin-inline: auto;
    margin-block: 0px var(--spacing-2-extra-large);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    outline: 1px solid var(--theme-color-1);

    thead {
        color: var(--contrast-font-color);
        background-color: var(--theme-color-1);
    }

    tbody {
        tr:nth-child(odd) {
            background: var(--theme-color-3);
        }

        tr:nth-child(even) {
            background: var(--theme-color-2);
        }

        td {
            padding-inline: var(--spacing-small);
            padding-block: 4px;
        }
    }

    &.centered__text {
        text-align: center;
    }

    ::after {
        content: "";
        position: absolute;
        left: var(--spacing-small);
        top: var(--spacing-small);
        z-index: -1;
        width: 100%;
        height: 100%;
        background: var(--theme-color-2);
        border-radius: var(--border-radius);
    }
}

small {
    color: #444;
    font-style: italic;
}

hr {
    color: var(--theme-color-2);
    border-color: var(--theme-color-2);
    background-color: var(--theme-color-2);
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.github__logo {
    position: absolute;
    top: var(--spacing-medium);
    left: var(--spacing-medium);
    transform: rotate(-12deg);
    height: 36px;
    width: 36px;

    opacity: 0.7;
    transition: opacity 0.25s ease-out;

    &:hover {
        opacity: 1.0;
        transition: opacity 0.25s ease-out;
    }
}

.page__title {
    text-align: center;
    padding-block: var(--spacing-extra-large);
    line-height: 1.2;
}

.page {
    margin-block-end: var(--spacing-medium);
    box-sizing: border-box;
}

.page__content {
    word-wrap: break-word;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px 40px;
}

.legend {
    position: relative;
    background-position: 0px 0px;
    background-color: var(--theme-color-3);
    border: 1px solid var(--theme-color-1);
    border-radius: var(--border-radius);

    /* Spacing */
    margin: 0px;
    padding: var(--spacing-medium);

    /* Misc */
    overflow: hidden;

    /* Animated height */
    max-height: 80px;
    transition: max-height 0.25s ease-out;

    &.expanded {
        max-height: 900px;
        transition: max-height 0.25s ease-in;
    }
}

/* These buttons are found at the bottom right of their containers */
.icon__button {
    /* Position and size */
    right: var(--spacing-small);
    width: var(--icon-size);
    height: var(--icon-size);

    &.jump {
        position: fixed;
        bottom: var(--spacing-small);
    }

    &.toggle {
        position: absolute;
        top: var(--spacing-small);
    }

    /* Button properties */
    cursor: pointer;
    z-index: 2;

    /* Make the gradient bigger than the icon */
    svg {
        padding: 6px;
    }
}

.jump {
    /* Gradient background to improve contrast */
    background-image: radial-gradient(50% 50% at 50% 50%, var(--theme-color-4) 0%, #FFFFFF00 100%);
}

.legend__symbol {
    display: inline-block;
    width: 2rem;
}

.columns__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: var(--spacing-medium);
}

@media screen and (max-width: 600px) {
    .github__logo {
        display: none;
    }

    .page__title {
        padding: 0;
    }

    /* Example column doesn't appear on mobile */
    td:nth-child(3) {
        display: none;
    }
}