<switchable-table>
  <span slot="header">
    <h2 id="polite-verbs">Polite Verbs</h2>
  </span>
  <span slot="content">
    <div class="grid__header">Form</div>
    <div class="grid__header column-a">Construction</div>
    <div class="grid__header column-b">Example</div>

    <div class="grid__item">Present/Future</div>
    <div class="grid__item column-a"><code>～い</code>＋ます</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Past</div>
    <div class="grid__item column-a"><code>～い</code>＋ました</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Progressive</div>
    <div class="grid__item column-a"><code>～て</code>＋います</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Negative present/future</div>
    <div class="grid__item column-a"><code>～い</code>＋ません</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Negative past</div>
    <div class="grid__item column-a"><code>～い</code>＋ませんでした</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Command</div>
    <div class="grid__item column-a">
      <div>
        <div><code>～て</code>＋ください</div>
        <div data-tooltip="Considered inappropriate when addresing superiors">
          <div><code>～い</code>＋なさい</div>
        </div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Negative command</div>
    <div class="grid__item column-a"><code>～あ</code>＋ないでください</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Potential <span class="small"><small>can/able to</small></span></div>
    <div class="grid__item column-a">
      <div>
        <div>Godan <code>～う</code>＋ます</div>
        <div>Ichidan <code>～る</code>＋られます</div>
        <div class="flex__row__wrap">
          <div>Irregular</div>
          <div>する → できます</div>
          <div>くる → こられます</div>
        </div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>
    <div class="grid__item">Want to</div>
    <div class="grid__item column-a"><code>～い</code>＋たいです</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">
      <div data-tooltip="ないです means the same as ありません">
        <div>Don't want to</div>
      </div>
    </div>
    <div class="grid__item column-a"><code>～い</code>＋たくないです</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Let's do<br>Shall we...</div>
    <div class="grid__item column-a">
      <div><code>～い</code>＋ましょう</div>
      <div><code>～い</code>＋ましょう</div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Passive <span class="small"><small>to be ~ed</small></span></div>
    <div class="grid__item column-a">
      <div>Godan <code>～あ</code>＋れます</div>
      <div>Ichidan <code>～あ</code>＋られます</div>
      <div class="flex__row__wrap">
        <div>Irregular</div>
        <div>する → されます、</div>
        <div>くる → こられます</div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Causative <span class="small"><small>to allow, force someone to ~</small></span></div>
    <div class="grid__item column-a">
      <div>Godan <code>～あ</code>＋せます</div>
      <div>Ichidan <code>～あ</code>＋させます</div>
      <div class="flex__row__wrap">
        <div>Irregular</div>
        <div>する → させます、</div>
        <div>くる → こさせます</div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>
  </span>
</switchable-table>