<h2 id="polite-verbs">Polite Verbs</h2>
<swappable-table>
  <div class="grid-header">Form</div>
  <div class="grid-header column-a">Construction</div>
  <div class="grid-header column-b">Example</div>

  <div class="grid-item">Present/Future</div>
  <div class="grid-item column-a"><code>～い</code>＋ます</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Past</div>
  <div class="grid-item column-a"><code>～い</code>＋ました</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Progressive</div>
  <div class="grid-item column-a"><code>~て</code>＋います</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Negative present/future</div>
  <div class="grid-item column-a"><code>～い</code>＋ません</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Negative past</div>
  <div class="grid-item column-a"><code>～い</code>＋ませんでした</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Command</div>
  <div class="grid-item column-a">
    <div>
      <div><code>～て</code>＋ください</div>
      <div><code>～い</code>＋なさい</div>
    </div>
  </div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Negative command</div>
  <div class="grid-item column-a"><code>～あ</code>＋ないでください</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Potential <span class="small"><small>can/able to</small></span></div>
  <div class="grid-item column-a">
    <div>
      <div>Godan <code>～う</code>＋ます</div>
      <div>Ichidan <code>～る</code>＋られます</div>
      <div class="wrapped__items">
        <div>Irregular</div>
        <div>する → できます</div>
        <div>くる → こられます</div>
      </div>
    </div>
  </div>
  <div class="grid-item column-b">たべます</div>
  <div class="grid-item">Want to</div>
  <div class="grid-item column-a"><code>～い</code>＋たいです</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Don't want to</div>
  <div class="grid-item column-a"><code>～い</code>＋たくないです</div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Let's do<br>Shall we...</div>
  <div class="grid-item column-a">
    <div><code>～い</code>＋ましょう</div>
    <div><code>～い</code>＋ましょう</div>
  </div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Passive <span class="small"><small>to be ~ed</small></span></div>
  <div class="grid-item column-a">
    <div>Godan <code>～あ</code>＋れます</div>
    <div>Ichidan <code>～あ</code>＋られます</div>
    <div class="wrapped__items">
      <div>Irregular</div>
      <div>する → されます、</div>
      <div>くる → こられます</div>
    </div>
  </div>
  <div class="grid-item column-b">たべます</div>

  <div class="grid-item">Causative <span class="small"><small>to allow, force someone to ~</small></span></div>
  <div class="grid-item column-a">
    <div>Godan <code>～あ</code>＋せます</div>
    <div>Ichidan <code>～あ</code>＋させます</div>
    <div class="wrapped__items">
      <div>Irregular</div>
      <div>する → させます、</div>
      <div>くる → こさせます</div>
    </div>
  </div>
  <div class="grid-item column-b">たべます</div>
</swappable-table>