<h2 id="conjugations">Conjugations</h2>

<div class="responsive__grid">
  <three-column-grid>
    <span slot="header">
      <h3>Godan & Ichidan</h3>
    </span>
    <span slot="content" class="centered__text">
      <div class="grid__header clear__background">Ending</div>
      <div class="grid__header clear__background">U-verb</div>
      <div class="grid__header clear__background">Ru-verb</div>

      <div class="grid__item"><code>～あ</code></div>
      <div class="grid__item">はな<strong>さ</strong></div>
      <div class="grid__item">たべ <strong>✕</strong></div>

      <div class="grid__item"><code>～い</code></div>
      <div class="grid__item">はな<strong>し</strong></div>
      <div class="grid__item">たべ <strong>✕</strong></div>

      <div class="grid__item"><code>～う</code></div>
      <div class="grid__item">はな<strong>す</strong></div>
      <div class="grid__item">たべ<strong>る</strong></div>

      <div class="grid__item"><code>～え</code></div>
      <div class="grid__item">はな<strong>せ</strong></div>
      <div class="grid__item">たべ<strong>れ</strong></div>

      <div class="grid__item"><code>～おう</code></div>
      <div class="grid__item">はな<strong>そう</strong></div>
      <div class="grid__item">たべ<strong>よう</strong></div>

      <div class="grid__item"><code>～て</code></div>
      <div class="grid__item"></div>
      <div class="grid__item">たべ<strong>て</strong></div>

      <div class="grid__item"><code>～た</code></div>
      <div class="grid__item"></div>
      <div class="grid__item">たべ<strong>た</strong></div>
      <span>
  </three-column-grid>

  <three-column-grid>
    <span slot="header">
      <h3>する & くる</h3>
    </span>
    <span slot="content" class="centered__text">
      <div class="grid__header clear__background">Ending</div>
      <div class="grid__header clear__background">する</div>
      <div class="grid__header clear__background">くる</div>

      <div class="grid__item"><code>～あ</code></div>
      <div class="grid__item">し</div>
      <div class="grid__item">こ</div>

      <div class="grid__item"><code>～い</code></div>
      <div class="grid__item">し</div>
      <div class="grid__item">き</div>

      <div class="grid__item"><code>～う</code></div>
      <div class="grid__item">す<strong>る</strong></div>
      <div class="grid__item">く<strong>る</strong></div>

      <div class="grid__item"><code>～え</code></div>
      <div class="grid__item">す<strong>れ</strong></div>
      <div class="grid__item">く<strong>れ</strong></div>

      <div class="grid__item"><code>～おう</code></div>
      <div class="grid__item">し<strong>よう</strong></div>
      <div class="grid__item">こ<strong>よう</strong></div>

      <div class="grid__item"><code>～て</code></div>
      <div class="grid__item">し<strong>て</strong></div>
      <div class="grid__item">き<strong>て</strong></div>

      <div class="grid__item"><code>～た</code></div>
      <div class="grid__item">し<strong>た</strong></div>
      <div class="grid__item">き<strong>た</strong></div>
    </span>
  </three-column-grid>

  <three-column-grid>
    <span slot="header">
      <h3>て & た endings</h3>
    </span>
    <span slot="content" class="centered__text">
      <div class="grid__header clear__background">Dictionary</div>
      <div class="grid__header clear__background">て</div>
      <div class="grid__header clear__background">た</div>

      <div class="grid__item">う つ る</div>
      <div class="grid__item">って</div>
      <div class="grid__item">った</div>

      <div class="grid__item">む ぶ ぬ</div>
      <div class="grid__item">んで</div>
      <div class="grid__item">んだ</div>

      <div class="grid__item">く</div>
      <div class="grid__item">いて</div>
      <div class="grid__item">いた</div>

      <div class="grid__item">ぐ</div>
      <div class="grid__item">いで</div>
      <div class="grid__item">いだ</div>

      <div class="grid__item">す</div>
      <div class="grid__item">して</div>
      <div class="grid__item">した</div>
    </span>
  </three-column-grid>
</div>

<footer>
  <small>
    <div>Exceptions:<div>
        <ul>
          <li>いく (to go) in て｜た form becomes いって｜いった</li>
          <li>The <code>～あ</code> ending for verbs in う is わ</li>
        </ul>
  </small>
</footer>