<div class="page__content">
  <h1 class="page__title centered__text">Japanese Cheat Sheet</h1>
  <!-- <site-legend></site-legend> -->
  <site-toc></site-toc>
  <site-conjugations></site-conjugations>
  <site-polite-verbs></site-polite-verbs>
  <site-informal-verbs></site-informal-verbs>
  <site-kanji-anki></site-kanji-anki>
</div>

<!-- Buttons fixed in screen corners -->
<a href="https://github.com/izquiratops/japanese-cheat-sheet" target="_blank" rel="noopener noreferrer"
  title="Fork me on Github!" tabindex="-1">
  <img src="../../assets/github-mark.svg" class="github__logo" alt="Github logo">
</a>
<a class="icon__button jump" id="scroll-to-top" title="Scroll to the top 🦘" tabindex="-1">
  <img src="../../assets/scroll-to-top.svg" alt="Scroll to top icon">
</a>