<table-with-examples>
  <span slot="header">
    <h2 id="informal-verbs">Informal Verbs</h2>
  </span>
  <span slot="content">
    <div class="grid__header">Tense name</div>
    <div class="grid__header column-a">Form</div>
    <div class="grid__header column-b">Example</div>

    <div class="grid__item">Present/Future ❇️</div>
    <div class="grid__item column-a"><code>～う</code></div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Past ❇️</div>
    <div class="grid__item column-a"><code>～た</code></div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Progressive ❇️</div>
    <div class="grid__item column-a"><code>~て</code>＋いる</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Negative present/future ❇️</div>
    <div class="grid__item column-a"><code>～あ</code>＋ない</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Negative past ❇️</div>
    <div class="grid__item column-a"><code>～あ</code>＋なかった</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Command</div>
    <div class="grid__item column-a">
      <code>～て</code>
      <hr>
      <div>Godan <code>～え</code></div>
      <div>Ichidan <code>～い</code>＋ろ</div>
      <div class="flex__row__wrap">
        <div>Irregular</div>
        <div>する → しろ、</div>
        <div>くる → こい <small>Considered rude</small></div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Negative command</div>
    <div class="grid__item column-a">
      <div><code>～あ</code>＋ないで</div>
      <div><code>～う</code>＋な <small>Considered rude</small></div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Potential <small>can/able to</small> ❇️</div>
    <div class="grid__item column-a">
      <div>Godan <code>～え</code>＋る</div>
      <div>Ichidan <code>～あ</code>＋られる</div>
      <div class="flex__row__wrap">
        <div>Irregular</div>
        <div>する → できる、</div>
        <div>くる → これる</div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Want to</div>
    <div class="grid__item column-a"><code>～い</code>＋たい</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Don't want to</div>
    <div class="grid__item column-a"><code>～い</code>＋たくない</div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Let's do / Shall we...</div>
    <div class="grid__item column-a">
      <div><code>～おう</code></div>
      <div><code>～おう</code>＋か</div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Passive <small>to be ~ed</small> ❇️</div>
    <div class="grid__item column-a">
      <div>Godan <code>～あ</code>＋られる</div>
      <div>Ichidan <code>～あ</code>＋られる</div>
      <div class="flex__row__wrap">
        <div>Irregular</div>
        <div>する → される、</div>
        <div>くる → こられる</div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>

    <div class="grid__item">Causative <small>to allow, force someone to ~</small> ❇️</div>
    <div class="grid__item column-a">
      <div>Godan <code>～あ</code>＋せる</div>
      <div>Ichidan <code>～あ</code>＋させる</div>
      <div class="flex__row__wrap">
        <div>Irregular</div>
        <div>する → させる、</div>
        <div>くる → こさせる</div>
      </div>
    </div>
    <div class="grid__item column-b">たべます</div>
  </span>
</table-with-examples>