<h2 id="informal-verbs">Informal Verbs</h2>
<table>
  <thead>
    <tr>
      <th>Tense name</th>
      <th>Form</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Present/Future ❇️</td>
      <td><code>～う</code></td>
    </tr>
    <tr>
      <td>
        <span>
          Past
        </span>
        <a href="https://guidetojapanese.org/learn/complete/verb_past" target="_blank"
          rel="noopener noreferrer"><small>Tae Kim 🔗</small></a> ❇️
      </td>
      <td><code>～た</code></td>
    </tr>
    <tr>
      <td>Progressive ❇️</td>
      <td><code>~て</code>＋いる</td>
    </tr>
    <tr>
      <td>Negative present/future ❇️</td>
      <td><code>～あ</code>＋ない</td>
    </tr>
    <tr>
      <td>Negative past ❇️</td>
      <td><code>～あ</code>＋なかった</td>
    </tr>
    <tr>
      <td>Command</td>
      <td>
        <code>～て</code><br>
        <hr>
        Godan <code>～え</code><br>
        Ichidan <code>～い</code>＋ろ<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → しろ、</div>
          <div>くる → こい <small>Considered rude</small></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Negative command</td>
      <td>
        <code>～あ</code>＋ないで<br>
        <code>～う</code>＋な <small>Considered rude</small>
      </td>
    </tr>
    <tr>
      <td>Potential <small>can/able to</small> ❇️</td>
      <td>
        Godan <code>～え</code>＋る<br>
        Ichidan <code>～あ</code>＋られる<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → できる、</div>
          <div>くる → これる</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Want to</td>
      <td><code>～い</code>＋たい</td>
    </tr>
    <tr>
      <td>Don't want to</td>
      <td><code>～い</code>＋たくない</td>
    </tr>
    <tr>
      <td>
        Let's do<br>
        Shall we...
      </td>
      <td>
        <code>～おう</code><br>
        <code>～おう</code>＋か<br>
      </td>
    </tr>
    <tr>
      <td>Passive <small>to be ~ed</small> ❇️</td>
      <td>
        Godan <code>～あ</code>＋れる<br>
        Ichidan <code>～あ</code>＋られる<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → される、</div>
          <div>くる → こられる</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Causative <small>to allow, force someone to ~</small> ❇️</td>
      <td>
        Godan <code>～あ</code>＋せる<br>
        Ichidan <code>～あ</code>＋させる<br>
        <div class="wrapped__items">
          <div>Irregular</div>
          <div>する → させる、</div>
          <div>くる → こさせる</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="checkbox__wrapper">
  <input type="checkbox" name="polite-examples" checked disabled />
  <label for="polite-examples">Show examples</label>
</div>