<h1 class="centered__text">Japanese Cheat Sheet</h1>
<site-toc></site-toc>
<site-conjugations></site-conjugations>
<site-polite-verbs></site-polite-verbs>
<site-informal-verbs></site-informal-verbs>
<site-kanji-anki></site-kanji-anki>
<a class="icon github__logo" href="https://github.com/izquiratops/japanese-cheat-sheet" target="_blank" rel="noopener noreferrer"
  title="Fork me on Github!" tabindex="-1">
  <img src="../../assets/github-mark.svg" alt="Github logo">
</a>
<a class="icon scroll__up" title="Scroll to the top 🦘" tabindex="-1"
  onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
  <img src="../../assets/scroll-to-top.svg" alt="Scroll to top icon">
</a>