header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::slotted(span[slot="content"]) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background: var(--theme-color-2);
    border: 1px solid var(--theme-color-1);
    border-radius: var(--border-radius);
}