<h2 id="conjugations">Conjugations</h2>
<div class="columns__container">
  <section>
    <h3>Godan & Ichidan</h3>
    <table class="centered__text">
      <thead>
        <tr>
          <th>Ending</th>
          <th>U-verb</th>
          <th>Ru-verb</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>～あ</code></td>
          <td>はな<strong>さ</strong></td>
          <td>たべ<strong>✕</strong></td>
        </tr>
        <tr>
          <td><code>～い</code></td>
          <td>はな<strong>し</strong></td>
          <td>たべ<strong>✕</strong></td>
        </tr>
        <tr>
          <td><code>～う</code></td>
          <td>はな<strong>す</strong></td>
          <td>たべ<strong>る</strong></td>
        </tr>
        <tr>
          <td><code>～え</code></td>
          <td>はな<strong>せ</strong></td>
          <td>たべ<strong>れ</strong></td>
        </tr>
        <tr>
          <td><code>～おう</code></td>
          <td>はな<strong>そう</strong></td>
          <td>たべ<strong>よう</strong></td>
        </tr>
        <tr>
          <td><code>～て</code></td>
          <td></td>
          <td>たべ<strong>て</strong></td>
        </tr>
        <tr>
          <td><code>～た</code></td>
          <td></td>
          <td>たべ<strong>た</strong></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>する & くる</h3>
    <table class="centered__text">
      <thead>
        <tr>
          <th>Ending</th>
          <th>する</th>
          <th>くる</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>～あ</code></td>
          <td>し</td>
          <td>こ</td>
        </tr>
        <tr>
          <td><code>～い</code></td>
          <td>し</td>
          <td>き</td>
        </tr>
        <tr>
          <td><code>～う</code></td>
          <td>す<strong>る</strong></td>
          <td>く<strong>る</strong></td>
        </tr>
        <tr>
          <td><code>～え</code></td>
          <td>す<strong>れ</strong></td>
          <td>く<strong>れ</strong></td>
        </tr>
        <tr>
          <td><code>～おう</code></td>
          <td>し<strong>よう</strong></td>
          <td>こ<strong>よう</strong></td>
        </tr>
        <tr>
          <td><code>～て</code></td>
          <td>し<strong>て</strong></td>
          <td>き<strong>て</strong></td>
        </tr>
        <tr>
          <td><code>～た</code></td>
          <td>し<strong>た</strong></td>
          <td>き<strong>た</strong></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>て & た endings</h3>
    <table class="centered__text">
      <thead>
        <tr>
          <th>Dictionary</th>
          <th>て</th>
          <th>た</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>う、つ、る</td>
          <td>って</td>
          <td>った</td>
        </tr>
        <tr>
          <td>む、ぶ、ぬ</td>
          <td>んで</td>
          <td>んだ</td>
        </tr>
        <tr>
          <td>く</td>
          <td>いて</td>
          <td>いた</td>
        </tr>
        <tr>
          <td>ぐ</td>
          <td>いで</td>
          <td>いだ</td>
        </tr>
        <tr>
          <td>す</td>
          <td>して</td>
          <td>した</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<small>
  Exceptions:<br>
  <ul>
    <li>いく (to go) in て｜た form becomes いって｜いった</li>
    <li>The <code>～あ</code> ending for verbs in う is わ</li>
  </ul>
</small>