<h2 id="table-of-contents">Table of contents</h2>
<div class="column__wrap__layout">
  <section>
    <strong>Verbs</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#conjugations">Conjugations</a>
      </li>
      <li>
        <a href="#polite-verbs">Polite Verbs</a>
      </li>
      <li>
        <a href="#informal-verbs">Informal Verbs</a>
      </li>
      <li>
        <a href="#verb-usages" class="disabled" tabindex="-1">Verb usages</a>
      </li>
    </ul>
    <strong>Syllabary</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#hiragana" class="disabled" tabindex="-1">Hiragana あ</a>
      </li>
      <li>
        <a href="#verb-usages" class="disabled" tabindex="-1">Katakana ア</a>
      </li>
    </ul>
    <strong>Kanji</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#kanji-anki-deck">Kanji Anki deck</a>
      </li>
      <li>
        <a href="#jlpt-n5" class="disabled" tabindex="-1">List of JLPT N5</a>
      </li>
    </ul>
  </section>
  <section>
    <strong>Conjugations</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#conjugating-verbs" class="disabled" tabindex="-1">Conjugating Verbs</a>
      </li>
      <li>
        <a href="#forms-of-to-be" class="disabled" tabindex="-1">Forms of である</a>
      </li>
      <li>
        <a href="#adjective-conjugation" class="disabled" tabindex="-1">Adjective Conjugation</a>
      </li>
    </ul>
    <strong>Particles</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#particle-ha" class="disabled" tabindex="-1">Topic marker は (HA)</a>
      </li>
      <li>
        <a href="#particle-ga" class="disabled" tabindex="-1">Subject marker が (GA)</a>
      </li>
      <li>
        <a href="#particle-wo" class="disabled" tabindex="-1">Object marker を (WO)</a>
      </li>
      <li>
        <a href="#particle-ni" class="disabled" tabindex="-1">The "Aiming" particle に (NI)</a>
      </li>
      <li>
        <a href="#particle-to" class="disabled" tabindex="-1">The "Glue" particle と (TO)</a>
      </li>
      <li>
        <a href="#particle-de" class="disabled" tabindex="-1">The "Enabling" particle で (DE)</a>
      </li>
      <li>
        <a href="#particle-mo" class="disabled" tabindex="-1">Even/Also marker も (MO)</a>
      </li>
      <li>
        <a href="#particle-ka" class="disabled" tabindex="-1">Question Marker か (KA)</a>
      </li>
      <li>
        <a href="#particle-he" class="disabled" tabindex="-1">Destination Marker へ (HE)</a>
      </li>
      <li>
        <a href="#particle-no" class="disabled" tabindex="-1">Possession Marker の (NO)</a>
      </li>
      <li>
        <a href="#particle-ya" class="disabled" tabindex="-1">Incomplete "and" group や (YA)</a>
      </li>
    </ul>
  </section>
  <section>
    <strong>Comparison Particles</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#particle-yori" class="disabled" tabindex="-1">より (YORI)</a>
      </li>
      <li>
        <a href="#particle-hodo" class="disabled" tabindex="-1">ほど (HODO)</a>
      </li>
      <li>
        <a href="#particle-dake" class="disabled" tabindex="-1">だけ (DAKE)</a>
      </li>
      <li>
        <a href="#particle-kurai" class="disabled" tabindex="-1">くらい (KURAI)</a>
      </li>
      <li>
        <a href="#particle-bakari" class="disabled" tabindex="-1">ばかり (BAKARI)</a>
      </li>
      <li>
        <a href="#particle-demo" class="disabled" tabindex="-1">でも (DEMO)</a>
      </li>
      <li>
        <a href="#particle-shika" class="disabled" tabindex="-1">しか (SHIKA)</a>
      </li>
    </ul>
    <strong>Other Particles</strong>
    <ul class="table__of__contents">
      <li>
        <a href="#particle-kara" class="disabled" tabindex="-1">From/Because から (KARA)</a>
      </li>
      <li>
        <a href="#particle-made" class="disabled" tabindex="-1">Until/To まで (MADE)</a>
      </li>
    </ul>
  </section>
</div>