<blockquote class="legend" id="legend">
    <a class="icon__button toggle" id="toggle-legend" title="Toggle legend" tabindex="-1">
      <img src="../../assets/plus.svg" id="plus" alt="Plus icon">
      <img src="../../assets/minus.svg" id="minus" alt="Minus icon" class="hidden">
    </a>
    <strong>Symbols</strong>
    <div class="columns__container">
      <ul>
        <div class="legend__symbol">❇️</div>
        <span>"Noun-able" form (a form that can be nominalized with こと or の)</span>
        <br>
        <div class="legend__symbol">⬇️</div>
        <span>Considered inappropriate when addressing superiors.</span>
        <br>
        <div class="legend__symbol">1️⃣</div>
        <span>ないです is interchangable with ありません (the later is slightly more formal)</span>
        <br>
      </ul>
    </div>
  </blockquote>