:root {
    /* Spacing */
    --spacing-extra-small: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-extra-large: 32px;
    --spacing-exxtra-large: 48px;
    --spacing-exxxtra-large: 64px;

    /* Other values ✏️ */
    --icon-size: 32px;
    --border-radius: 4px;
    --line-height: 1.8;

    /* Theme applied if JavaScript is disabled */
    --link-color: #4183c4;
    --theme-color-1: #874356;
    --theme-color-2: #F68989;
    --theme-color-3: #C65D7B;
    --theme-color-4: #F6E7D8;
    --font-color: #000;
    --contrast-font-color: #FFF;
    --small-font-color: #444;
}

body {
    text-rendering: optimizeLegibility;
    font-family: Open Sans, sans-serif;
    line-height: var(--line-height);
    color: var(--font-color);
    background: var(--theme-color-4);
}

body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    padding-block: var(--spacing-large);
}

h2,
h3,
h4 {
    margin-block: var(--spacing-small);
}

a {
    color: var(--link-color);
    text-decoration: none;

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

small {
    color: var(--small-font-color);
    font-style: italic;
}

code {
    font-family: Open Sans, sans-serif;
    text-wrap: nowrap;
    padding: var(--spacing-extra-small);
    color: var(--contrast-font-color);
    background: var(--theme-color-1);
    border-radius: var(--border-radius);
}

hr {
    color: var(--theme-color-2);
    border-color: var(--theme-color-2);
    background-color: var(--theme-color-2);
}

table {
    width: 100%;
}

footer {
    line-height: var(--line-height);
}

site-body {
    display: block;
    padding-block-end: var(--spacing-exxxtra-large);

    word-wrap: break-word;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 var(--spacing-medium) var(--spacing-exxxtra-large) var(--spacing-medium);
}

.icon {
    cursor: pointer;

    &.scroll__up {
        position: fixed;
        right: var(--spacing-medium);
        bottom: var(--spacing-medium);
    }

    &.github__logo {
        position: absolute;
        left: var(--spacing-medium);
        top: var(--spacing-medium);
        transform: rotate(-10deg);
    }

    img {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

/* ~~~ Mobile ~~~ */

@media screen and (max-width: 600px) {
    h1 {
        padding: 0;
    }

    .github__logo {
        display: none;
    }
}

/* ~~~ Utilty ~~~ */

.hidden {
    display: none;
}

.clear__background {
    background: none;
}

.centered__text {
    text-align: center;
}

/* ~~~ Layout ~~~ */

.flex__row__wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--spacing-small);
}

.responsive__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: var(--spacing-medium);
}