h1 {
    padding-block: var(--spacing-extra-large);
    line-height: 1.2;
}

h3 {
    margin-bottom: var(--spacing-medium);
}

a {
    color: var(--toc-link-color);
    text-decoration: none;

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

small {
    color: var(--small-font-color);
    font-style: italic;
}

code {
    font-family: Open Sans,sans-serif;
    text-wrap: nowrap;
    color: var(--contrast-font-color);
    background: var(--theme-color-1);
    border-radius: 4px;
    padding: 4px;
}

hr {
    color: var(--theme-color-2);
    border-color: var(--theme-color-2);
    background-color: var(--theme-color-2);
}

li {
    line-height: var(--line-height);
}

.page__content {
    word-wrap: break-word;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
}

.legend {
    position: relative;
    background-position: 0px 0px;
    background-color: var(--theme-color-3);
    border: 1px solid var(--theme-color-1);
    border-radius: var(--border-radius);

    /* Spacing */
    margin: 0px;
    padding: var(--spacing-medium);

    /* Misc */
    overflow: hidden;

    /* Animated height */
    max-height: 80px;
    transition: max-height 0.25s ease-out;

    &.expanded {
        max-height: 900px;
        transition: max-height 0.25s ease-in;
    }

    .icon__button {
        position: relative;

        img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .legend__symbol {
        display: inline-block;
        width: 2rem;
    }
}

.icon__button {
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;

    &.scroll__up {
        position: fixed;
        right: var(--spacing-medium);
        bottom: var(--spacing-medium);
    }

    &.toggle {
        position: absolute;
        right: var(--spacing-small);
        top: var(--spacing-small);
    }

    svg {
        padding: 6px;
    }
}

.footer {
    padding-block-end: 70px;
}

/* Icons */

.github__logo {
    position: absolute;
    top: var(--spacing-medium);
    left: var(--spacing-medium);
    height: 36px;
    width: 36px;
    transform: rotate(-12deg);

    /* Logo animates on hover */
    opacity: 0.7;
    transition: opacity 0.25s ease-out;

    &:hover {
        opacity: 1.0;
        transition: opacity 0.25s ease-out;
    }
}

.scroll__up {
    /* Add background gradient to improve contrast */
    background-image: radial-gradient(50% 50% at 50% 50%, var(--theme-color-4) 0%, #FFFFFF00 100%);
}

/* Utility */

.hidden {
    display: none;
}

.wrapped__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--spacing-small);
}

.centered__text {
    text-align: center;
}

.column__wrap__layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: var(--spacing-medium);
}

/* Mobile */

@media screen and (max-width: 600px) {
    h1 {
        padding: 0;
    }

    .github__logo {
        display: none;
    }
}